ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
}

a:link,
a:visited {
  background-color: #d14825;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  background-color: #d01f54;
}

a:active {
  background-color: #4daf5a;
}
